@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --color-linen: #f5e9e2;
    --color-violet: #9000b3;
    --color-xiketic: #0b0014;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'Trebuchet MS', sans-serif;
}

.header {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-width: 100%;
    min-height: 10vh;
    font-size: 13pt;
    background-color: #dddddd00;
    transition: all .1s linear;
}

.header-anime {
    min-height: 12vh;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.329);
    background-color: white;
}

.header-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 20pt;
    font-weight: bolder;
}

.header-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

.header-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.header .header-ul .header-li a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%; 
    text-decoration: none;
    transition: all .1s linear;
}

.header .header-ul .header-li:hover {
    font-weight: bolder;
    font-size: 14pt;
}

.container {
    min-height: 130vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.border {
    border: 1px solid black;
}

.border-white {
    border: 1px solid white;
}

.section-one {
    background: linear-gradient(rgba(245, 233, 226, 0.795), rgba(245, 233, 226, 0.795) 100%), url("../resources/room.jpg") repeat fixed 100%;
    background-size: cover;
}

.section-one-text {
    min-width: 50vw;
    max-width: 50vw;
    height: 60vh;
    font-size: 100px;
    text-align: left;
    font-weight: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-one-div-image {
    min-width: 40vw;
    max-width: 40vw; 
}

.section-one-image {
    width: 100%;
}

.section-two-div-image {
    width: 40vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two-image {
    width: 100%;
}

.section-two-text {
    width: 70vh;
    min-height: 70vh;
    font-size: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-three {
    background: linear-gradient(#0b0014e0, #0b0014e0 100%), url("../resources/room-2.jpg") repeat 100% fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}   

.section-three-text {
    margin-bottom: 10vh;
    font-size: 30pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.section-three-text p {
    color: #ffffff;
}

.section-three-text i {
    color: #ffffff;
    font-size: 20pt;
}

.section-three-images {
    min-width: 90vw;
    max-width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.section-three-image {
    border: 1px solid white;
    width: 25vw;
    height: 55vh;
    border-radius: 20px;
}

.section-three-image-one {
    background-image: url("../resources/origami-1.jpg");
    background-size: cover;
}

.section-three-image-two {
    background-image: url("../resources/origami-2.jpg");
    background-size: cover;
}

.section-three-image-three {
    background-image: url("../resources/origami-3.jpg");
    background-size: cover;
}

.section-four-text {
    min-width: 30%;
    min-height: 50vh;
    font-size: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: row;
}

.section-four-image {
    min-width: 30%;
    min-height: 60vh;
    background: url("../resources/bird-1.png") no-repeat;
    background-size: contain;
}

.footer {
    background: linear-gradient(#0b0014d3, #0b0014d3 100%), url("../resources/oriental-montains.jpg") repeat 100% fixed;
    background-size: cover;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80%;
    min-width: 30%;
}

.footer-text {
    text-decoration: none;
    color: #ffffff;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.contact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    min-width: 100%;
    min-height: 10vh;
    margin-bottom: 10vh;
    font-size: 30pt;
}

.contact i {
    font-size: 70pt;
    width: 30%;
}

.contact a:hover {
    font-weight: bolder;
}

.contact-title {
    font-size: 30pt;
    height: 20%;
    margin-bottom: 10vh;
}

.footer-image {
    min-width: 40%;
    min-height: 70%;
    background: url("../resources/plane-1-600.png") no-repeat;
    background-size: contain;
    background-position: center;
}

[data-anime] {
    opacity: 0;
    transition: .1s;
}

.realy-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    background-color: var(--color-xiketic);
    color: #ffffff;
}

.realy-footer-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.realy-footer-list a:hover {
    font-weight: bolder;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}

