@media (max-width: 1166px) and (min-width: 760px){
    .section-one-text {
        font-size: 50pt;
    }
}

@media (max-width: 760px) {
    .header-ul {
        min-width: 70%;
    }

    .container {
        flex-direction: column;
        justify-content: center;
    }

    .section-one {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .section-one-text {
        text-align: center;
        min-width: 90%;
        font-size: 40pt;
    }

    .section-one-div-image {
        max-width: 20%;
        min-width: 20%;
    }

    .section-two-div-image {
        width: 70vw;
    }
    .section-two-text {
        text-align: center;
        font-size: 27pt;
    }

    .section-three-images {
        flex-direction: column;
    }

    .section-three-image-one {
        width: 70%;
        height: 80%;
    }

    .section-three-text {
        font-size: 27pt;
        margin-top: 10vh;
        width: 90%;
    }

    .section-three-image-two {
        display: none;
    }

    .section-three-image-three {
        display: none;
    }

    .section-four-image {
        width: 70%;
    }

    .section-four-text {
        font-size: 30pt;
    }

    .footer {
        flex-direction: column-reverse;
        height: 160vh;
        flex-wrap: nowrap;
    }

    .contact-title {
        margin-bottom: 10vh;
        font-size: 30pt;
    }

    .footer-image {
        min-height: 30%;
        width: 50%;
    }

    .footer-content {
        max-height: 50%;
        min-height: 40%;
    }

    .footer-links {
        height: 50%;
    }

    .realy-footer-list {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .header {
        justify-content: center;
    }

    .header-ul {
        display: none;
    }

    .section-one {
        height: 90vh;
    }

    .section-two {
        height: 90vh;
    }

    .section-two-text {
        font-size: 27pt;
        width: 90%;
    }

    .section-three-image-one {
        height: 50%;
    }

    .section-four-text {
        font-size: 27pt;
    }

    .contact-title {
        font-size: 20pt;
    }

    .contact {
        font-size: 20pt;
    }

    .contact i {
        font-size: 40pt;
    }
}