.section-two-div-image {
    width: 40vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two-image {
    width: 100%;
}

.section-two-text {
    width: 70vh;
    min-height: 70vh;
    font-size: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
}
